<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h4 class="modal-title"><%%= @<%= singular_table_name %> %></h4>
</div>

<div class="modal-body form">

  <fieldset>
    <% attributes.reject(&:password_digest?).each do |attribute| -%>

    <div class="form-group">
      <%%= label :<%= singular_table_name %>, :<%= attribute.name %>, t("activerecord.attributes.<%= singular_table_name %>.<%= attribute.name %>"), {:class => "control-label"} %>
      <%%= text_field :<%= singular_table_name %>, :<%= attribute.name %>, value: @<%= singular_table_name %>.<%= attribute.name %>, readonly: true, class: "form-control" %>
    </div>

    <% end -%>

  </fieldset>

</div>
<div class="modal-footer">
  <%%= link_to t('helpers.link_to.edit'), edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), :class => 'btn btn-default' %>
</div>
